 body {   
    main {
        #gameInfo {
            display: flex;
            justify-content: center;
            align-items: center;

            #gameCanvas {
                background-color: white;
                border: solid black 2px;
            }
            aside {
                background-color: yellow;
                height: 200px;
                width: 100px;
                margin-left: 6px;
            }
        }

        #wordBlock {
            background-color: white;
            height: 10vh;
            width: 100vw;
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            p {
                font-size: 1.5rem;
                width: 25px;
                height: 25px;
            }
        }

        #keyboard {
            .btn {
                width: 35px;
                height: 35px;
                margin: 1px;
                border-radius: 5px;
            }
            .rowOf6 {
                margin-left: 28px;
            }
        }
    }
}

@media (min-width: 540px) {
    #wordBlock {
        width: 540px;          
    }
}