* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;

    header {
        height: 10vh;
        width: 100vw;
        background-color: green;
        display: flex;
        justify-content: center;
        align-items: center;

        h1 {
            color: white;
        }
    }

    main {
        height: 85vh;
        width: 100vw;
        background-color: white;
        display: flex;
        flex-direction: column;   
        justify-content: space-evenly;
        align-items: center;      
    }

    footer {
        height: 5vh;
        width: 100vw;
        background-color: blue;
        display: flex;
        justify-content: center;
        align-items: center;

        p {
            color: white;
            font-size: 0.8rem;
        }
    }
}

@media (min-width: 540px) {
    main {
        width: 540px;
    }
}