* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #313848;
    display: flex;
    flex-direction: column;
    align-items: center;

    header {
        height: 10vh;
        width: 100vw;
        background-color: #313848;
        display: flex;
        justify-content: center;
        align-items: center;

        h1 {
            font-family: 'Gochi Hand', cursive;
            font-size: 3rem;
            color: white;
        }
    }

    main {
        height: 85vh;
        width: 100vw;
        background-color: #b2b6bc;
        display: flex;
        flex-direction: column;   
        justify-content: space-evenly;
        align-items: center;      
    }

    footer {
        height: 5vh;
        width: 100vw;
        background-color: #313848;
        display: flex;
        justify-content: center;
        align-items: center;

        p {
            font-family: 'Patrick Hand', cursive;
            color: white;
            font-size: 1rem;
        }
    }
}

@media (min-width: 540px) {
    main {
        max-width: 540px;
        border-radius: 15px;
    }
    footer {
        p {
            font-size: 1.3rem !important;
        }
    }
}

@media (min-height: 700px) {
    header {
        h1 {
            font-size: 4rem !important;
        }
    }
}